/*!
guide.scss - DIAL Insights Guide

Copyright (c) 2018 DIAL Insights


By setting the following variables, you can quickly customize the the look of the DIAL Insights Guide, without directly editing the CSS.
*/
$color-primary: #3b4759;
$color-accent: #4e7b67;

$color-hsa: #4e7b67;
$color-401k: #296379;

$color-header-text: #384659;

$border-radius: 3px;

$logo-path: '../img/sample_logo.svg';
$bg-path: '../img/bg.jpg';
$logo-height: 44px;



/*!
	If you prefer to edit/overwrite the Guide SCSS directly, you can do so below.
*/
#dial {

	.color-primary { color: $color-primary !important; }
	.color-accent { color: $color-accent !important; }
	.is-adjusting-down { color: #3071a9; }

	h1 {
		color: $color-header-text;
		font-size: 36px;
		font-weight: normal;
		margin-bottom: 20px;
		text-align: center;
	}

	h2 {
		color: $color-header-text;
		font-size: 22px;
		font-weight: normal;
	}

	button, .btn  { 
		background: $color-primary;
		border-radius: $border-radius;

		&:hover {
			&:not(.disabled){
				background: darken($color-primary, 5%);
			}
		}
	}

	.btn-secondary {
		border-radius: $border-radius;

		&:hover { background: rgba(0,0,0,.1); }
	}

	.rdo {
		li {
			border-radius: $border-radius;
			color: $color-accent;

			&:active, &.active {
				background: $color-accent;
			}
		}
	}

	#logo {
		background: url($logo-path) no-repeat;
		background-size: contain;
		height: $logo-height;
	}

	#title-bar {
		background: $color-accent;
	}

	#menu {
		#profile {
			background: $color-primary;
			min-height: 95px;
			padding-top: 28px;

			.name, .demo { display: none; }
		}

		>li, a {
			&.enabled.active {
				color: $color-primary;

				label { color: $color-accent; }
			}
		}
	}

	#screen-wrapper {
		
		background: #E4E4E4 url($bg-path) no-repeat;
		background-size: cover;

		#screen {
			background: transparent;

			.step2 {
				h2 { font-size: 25px !important; }
			}

			.section-title { color: $color-header-text; }
		}
	}

	.mdl-card {
		border-radius: $border-radius + 2;
		margin:2px 0px 22px;
		.data {
			li {
				&.title { background: $color-primary; }
			}
		}
	}

	.di-actions {
		margin-top:-22px;	
	}
	
	.di-card-labels {
		background: rgba(0,0,0,0);

		ul {
			li {
				border-bottom: 1px solid rgba(0,0,0,.1); 
			}
		}
	}

	.provider-table { 
		.pt-head { background-color: $color-accent; }
	}

	.plan, .plan-mobile {
		&.best-plan {
			.desc { background: $color-accent; }
		
			li { color: $color-accent; }
		}
	}

	.mobile-details-btn {
		&.best-plan { background: $color-accent; }
	}

	.incentive {
		.incentive-desc { color: $color-primary; }
	}

	.btn-explore-bar { border-radius: $border-radius + 2; }

	li {
		&.explore { background: transparent !important; }
	}

	.contribution-table {
		>div {
			&.ee-contribution { color: $color-accent; }

			&.er-contribution { color: #4e7b67; }
		}
	}

	.contribution-comparison-bars {
		.cc-bar {
			&--401k {
				.bar { background-color: $color-401k; }
			}

			&--hsa {
				.bar { background-color: $color-hsa; }
			}
		}
	}

	.map-info {
		.name { color: $color-primary; }
	}

}
