/*!
pm.scss - DIAL Insights Package Manager

Copyright (c) 2018 DIAL Insights


By setting the following variables, you can quickly customize the the look of the DIAL Insights Package Manager, without directly editing the CSS.
*/
$color-background: #fff;
$color-primary: #3b4759;
$color-lighter: lighten($color-primary, 5%);
$color-darker: darken($color-primary, 10%);

$border-radius: 0px;

$logo-path: '../img/sample_logo.svg';


/*!
	If you prefer to edidt/overwrite the Package Manager SCSS directly, you can do so below.
*/

#header {
  background: $color-primary;
  padding: 20px 30px;
  border-bottom:1px #E4E4E4 solid;
}

#logo {
  background: url($logo-path) no-repeat;
  background-size: contain;
  width:200px; 
  height:32px;
}


#dial {

  background: $color-background;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;

  ul {
  	&.tabs {
  		li {
  			background: #555;
  			color: rgba(255,255,255,0.4);

  			&.enabled {
  				background: $color-primary;
  				color: #fff;
  			}
  			&.active {
  				background: $color-background;
  				color: $color-primary;
					font-weight: normal;
  			}
  		}
  	}
  }

  h2 {
  	color: #555;
		font-weight: normal;
  }

  input, select { border-radius: $border-radius; }

	/* BUTTONS */
	.next, .btn, .pgrp, .ngrp, .save {
	  background: $color-primary;
	  border-bottom: 1px solid #004760;
	  color: #fff;

	  &:hover { background: $color-lighter; }
	}

	.fld {
		label {
			color: lighten($color-primary, 5%);
			font-weight: normal;
		}
	}

	.plan-label {
		color: lighten($color-primary, 5%);
		font-weight: normal;
	}

  .rdo {
  	li {
  		&.active {
  			background: $color-primary;
  			color: #fff;
  		}
  	}
  }

  .chk {
  	&.inline {
  		li {
  			&:before {
  				color: $color-darker;
					font-weight :normal;
  			}

  			&.active {
  				&:before {
  					color: $color-darker;
						font-weight: normal;
  				}
  			}
  		}
  	}

  	.chkall {
  		&.all {
  			&:before {
  				color: $color-darker;
					font-weight: normal;
  			}
  		}
  	}
  }

	#plan-list .icon-add, #plan-lib a, #import_plan {
		color: $color-primary;
	}	
	
  #has-groups-panel {
  	#group-add {
  		border-radius: 0;

  		a { color: $color-darker; }
  	}
  }

  .inc {
  	tr {
  		&:first-child {
  			td {
  				background: $color-primary;
  				color: #fff;
  			}
  		}
  	}
  }

  #ps {
  	div {
  		&.bg {
  			background: $color-primary;
  			color: #fff;
  		}
  	}
  }

  table {
  	th {
  		background: #eee;
  		color: $color-darker;
  		font-weight: normal;
  	}

  	&.grid {
  		tr {
  			th {
  				background: $color-lighter;
  				color: #fff;

  				&.foot {
  					background: #eaeff2;
  					color: $color-darker;
  					font-weight: normal;
  				}
  			}

  			td {
  				&:first-child {
  					div {
  						&:first-child {
  							color: $color-darker;
								font-weight: normal;
  						}
  					}
  				}
  			}

  			&:first-child {
  				th {
  					background: #eee;
  					color: $color-darker;
  					font-weight: normal;
  				}
  			}
  		}

  		.grid_cts {
  			background: $color-lighter;
  			color: #fff;
  		}
  	}

  	&#cs {
  		tr {
  			&:first-child {
  				th {
  					background: $color-lighter;
  					color: #fff;
  				}
  			}
  		}
  	}

  	&#ps {
  		td {
  			&:first-child {
  				div {
  					color: $color-darker;
						font-weight: normal;
  				}
  			}
  		}
  	}

  	&#pp {
  		td {
  			&:first-child {
  				div {
  					color: $color-darker;
						font-weight: normal;
  				}
  			}
  		}
  	}

  	&.pc {
  		td {
  			&:first-child {
  				div {
  					color: $color-darker;
						font-weight: normal;
  				}
  			}
  		}
  	}
  }

  #plan-menu {
  	li {
  		&.active {
  			color: $color-darker;
				font-weight: normal;
  		}
  	}
  }

}